@page
@model A4A.Service.pages.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BusinessAgents</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessAgents.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusinessAgents.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessAgents.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusinessAgents.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessAgents.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusinessAgents.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessAgents.Street)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusinessAgents.Street)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessAgents.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusinessAgents.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessAgents.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusinessAgents.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessAgents.Zip)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusinessAgents.Zip)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessAgents.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusinessAgents.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessAgents.Mobile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusinessAgents.Mobile)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessAgents.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusinessAgents.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessAgents.ContactPerson)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusinessAgents.ContactPerson)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessAgents.ReferredBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusinessAgents.ReferredBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessAgents.Logo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusinessAgents.Logo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessAgents.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusinessAgents.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessAgents.Balance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusinessAgents.Balance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessAgents.SecurityCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusinessAgents.SecurityCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessAgents.Smtpserver)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusinessAgents.Smtpserver)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessAgents.Smtpport)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusinessAgents.Smtpport)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessAgents.Smtpusername)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusinessAgents.Smtpusername)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessAgents.Smtppassword)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusinessAgents.Smtppassword)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessAgents.Deleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusinessAgents.Deleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessAgents.CreatedOnUtc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusinessAgents.CreatedOnUtc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessAgents.UpdatedOnUtc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusinessAgents.UpdatedOnUtc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessAgents.CurrentBalance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusinessAgents.CurrentBalance)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="BusinessAgents.BusinessId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
