@page
@model A4A.Service.pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BusinessAgents[0].Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessAgents[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessAgents[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessAgents[0].Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessAgents[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessAgents[0].State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessAgents[0].Zip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessAgents[0].Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessAgents[0].Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessAgents[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessAgents[0].ContactPerson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessAgents[0].ReferredBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessAgents[0].Logo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessAgents[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessAgents[0].Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessAgents[0].SecurityCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessAgents[0].Smtpserver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessAgents[0].Smtpport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessAgents[0].Smtpusername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessAgents[0].Smtppassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessAgents[0].Deleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessAgents[0].CreatedOnUtc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessAgents[0].UpdatedOnUtc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessAgents[0].CurrentBalance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BusinessAgents) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactPerson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReferredBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Logo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecurityCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Smtpserver)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Smtpport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Smtpusername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Smtppassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOnUtc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedOnUtc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentBalance)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BusinessId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BusinessId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BusinessId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
